h1, h2 {
  margin-top: 20px;
  font-weight: bold;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #8400ff, #580b92,#830697,#8b379c);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero {
  padding: 80px;
}
.p1 {
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #888;
}

.p2 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.p4 {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #060000;
}

.p5 {
  font-size: 19px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  color: #060000;
}

.p6 {
    margin-left:20px;
  font-size: 11px;
  text-align: left;
  margin-bottom: 0px;
  display:block;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 242, 255);
  align-self: flex-start;
}
.p7 {
    margin-left:20px;
  font-size: 13px;
  text-align: left;
  margin-bottom: 0px;
  display:block;
  font-family: 'Poppins', sans-serif;
  color: rgb(125, 152, 154);
  align-self: flex-start;
}

.exp {
    margin-left:20px;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  display:block;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  align-self: flex-start;
}


.journey {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 18px;

  width: 90%;
  max-width: 800px;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);

  background: linear-gradient(135deg, #8400ff, #580b92,#830697,#8b379c);
}
.journey:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #580b92,#830697,#8b379c,#8400ff);
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px;
  padding: 20px;

  width: 90%;
  max-width: 800px;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);

  background: linear-gradient(135deg, #8400ff, #580b92,#830697,#8b379c);
}
.miniproject {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  margin: 10px;
  padding: 20px;

  width: 90%;
  max-width: 400px;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);

  background: linear-gradient(135deg, #8400ff, #580b92,#830697,#8b379c);
}
.card {
  width: auto;
  min-width: 160px;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.9);

  background: linear-gradient(135deg, #8400ff, #8b0b92,#830697,#8b379c);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
footer {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.exp:hover{
    transform: translateY(-3px);
    text-decoration:underline rgb(255, 255, 255);
    
}